h3 {
  color: green;
}

table {
  text-align: left;
  border-collapse: collapse;
}

table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tbody tr:hover {
  background-color: #ddd;
}

table tbody th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
}

table tbody td, table tbody th {
  border: 1px solid #ddd;
  padding: 8px;
}
